* {
  box-sizing: border-box;
}

body {
  background-color: #999;
}


a {
  color: #e3daa1;
}

a:visited{
  color: #e3daa1;
}

.navBar {
  border: double;
  text-align: center;
  color: #e3daa1;
}

.navBar h3 {
  display: inline-block;
  padding-left: 40px;
  padding-right: 40px;
}

.navBar h3:hover {
  background-color: black
}

.intro {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-style: double;
  color: #e3daa1;
  background-image: radial-gradient(black, black, transparent);
}

.main {
  padding: 50px;
  display: flex;
}

.hotTopics{
  flex: 60%;
  border-style: double;
  color: #e3daa1;
  background-image: radial-gradient(black, black, transparent);
    margin-right: 30px;
}
.hotTopics h2 {
  padding-left: 20px;
  text-decoration: underline;
}
.hotTopics h3{
  text-align: center;
}
.hotTopics img{
  width: 50%;
  display: block;
  margin: auto;
  transition: 1s;
}

.hotTopics img:hover {
  width: 60%;
  border-radius: 10%;
}

.hotTopics p{
  padding: 20px;
  font-size: 20px;
}

.bets{
  flex: 40%;
  border-style: double;
  color: #e3daa1;
  background-image: radial-gradient(black, black, transparent);
}
.bets h2{
  padding-left: 20px;
  text-decoration: underline;
}
.bets p{
  padding: 20px;
  font-size: 20px;
}

#betBtn {
  border: none;
  background-color: #e3daa1;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

#betBtn:hover{
  background-color: white;
}

#learnBtn{
  border: none;
  background-color: #e3daa1;
  color: black;
  margin: auto;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

#learnBtn:hover{
  background-color: white;
}


.upcoming{
  color: #e3daa1;
  background-image: radial-gradient(black, black, transparent);
  border-style: double;
  margin: auto;
  
}

.upcoming h2{
  text-decoration: underline;
  padding-left: 20px; 
}

.fightPic{
  display: flex;
  padding-left: 20px;
  padding-bottom: 20px;
}

.fight1{
  flex: 20%;
  position: relative;
  text-align: center;
}
.fight1 img{
  width: 90%;
  transition: 0.3s;
}
.fight1 img:hover{
  width: 100%;
  opacity: 0.5;
}

.fight1 p{
  position: absolute;
  font-size: 24px;
  top: 50%;
  left: 30%;
  color: #e3daa1;
  opacity: 0;
  background-color: black;
  padding: 10px;
}

.fight1:hover p{
  opacity: 1;
}



.fight2{
  flex: 20%;
  position: relative;
  text-align: center;
}
.fight2 img{
  width: 90%;
  transition: 0.3s;
}
.fight2 img:hover{
  width: 100%;
  opacity: 0.5;
}

.fight2 p{
  position: absolute;
  font-size: 24px;
  top: 50%;
  left: 30%;
  color: #e3daa1;
  opacity: 0;
  background-color: black;
  padding: 10px;
}

.fight2:hover p{
  opacity: 1;
}



.fight3{
  flex: 20%;
  position: relative;
  text-align: center;
}
.fight3 img{
  width: 90%;
  transition: 0.3s;
}
.fight3:hover img{
  width: 100%;
  opacity: 0.5;
}

.fight3 p{
  position: absolute;
  font-size: 24px;
  top: 50%;
  left: 30%;
  color: #e3daa1;
  opacity: 0;
  background-color: black;
  padding: 10px;
}

.fight3:hover p{
  opacity: 1;
}



.fight4{
  flex: 20%;
  position: relative;
  text-align: center;
}
.fight4 img{
  width: 90%;
  transition: 0.3s;
}
.fight4:hover img{
  width: 100%;
  opacity: 0.5;
}

.fight4 p{
  position: absolute;
  font-size: 24px;
  top: 50%;
  left: 30%;
  color: #e3daa1;
  opacity: 0;
  background-color: black;
  padding: 10px;
}

.fight4:hover p{
  opacity: 1;
}


.about{
  border-style: double;
  color: #e3daa1;
  background-image: radial-gradient(black, black, transparent);
  margin-top: 20px;
  padding: 20px;
}
