h3 {
  margin: 0;
  padding: 0;
}

.list {
  text-align: center;
  margin: 5%;
  padding-left: 20px;
  padding-right: 20px;
}

.interstateDesc {
  text-align: center;
}

.north {
  animation: moveBottomToTop 4s linear infinite;
  text-align: center;
}

@keyframes moveBottomToTop {
  0% {
    transform: translateY(calc(-100% - 260px));
  }
  100% {
    transform: translateY(calc(100% + 280px)); /* adjustable */
  }
}


.i5 {
  animation: moveLeftToRight 4s linear infinite;
}

@keyframes moveLeftToRight {
  0% {
    transform: translateX(calc(-100% - 215px));
  }
  100% {
    transform: translateX(calc(100% + 937px)); /* adjustable */
  }
}

.glow2 {
  font-size: 35px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.glow {
  font-size: 45px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.red {
  background: linear-gradient(90deg, rgb(255, 87, 51), rgb(127, 0, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.root {
  font-family: "IM Fell French Canon", serif;
  background-color: #f7e1f3;
}

* {
  margin: 0;
}

body {
  display: grid;
  place-items: center;
  min-block-size: 100dvb;
}

.thoughts {
  font-size: clamp(3rem, 2rem + 10dvi, 16rem);
  font-weight: inherit;
  color: lightpink;
  letter-spacing: -0.02em;
  text-shadow: 
    0 4em lightpink, 0 5em gold, 0 6em plum, 0 7em lightpink, 0 8em gold, 
}

.nick {
  position: fixed;
  inset-block-end: 0;
  inset-inline-start: 50%;
  translate: 50% 0%;
  max-inline-size: 30%;
  filter: grayscale(1) brightness(1.75) contrast(0.8);
}