.mainly {
  color: pink;
  font-size: 28px;
}

.h44 {
  color: pink;
  font-size: 28px;
}

.table2 {
  margin: auto;
}

.no-traffic {
  color: green;
}

.heavy-traffic {
  color: red;
}

.falseHeavy {
  color: orange;
}

.moderate-traffic {
  color: yellow;
}

.solutions {
  color: #7a92a3; 
  font-family: 'College';
  margin: 200px; 
  text-align: center;
}
/* code above this mainly consists of small style changes, nothing really different between each one */

button {
 position: fixed;
  inset-block-end: 0;
  inset-inline-start: 0%;
  translate: 50% 0%;
  max-inline-size: 30%;
/* added blury effect because we wanted to and adjusted the position. inset, max inline size, etc. all kind of work together to edit the fixed position of the button (at least thats how i think of it)   */
  filter: blur(1.5px) brightness(1.75) contrast(0.8);
  background-color: #04AA6D; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
/*  this is mostly just some tweats to the stlye again */
}


.table {
		font-size: 12px;
		border: 1px solid #CCC; 
		font-family: Arial, Helvetica, sans-serif;
	} 

	.table td {
		padding: 4px;
		margin: 3px;
		border: 1px solid #CCC;
	}
	.table th {
		background-color: #104E8B; 
		color: #FFF;
		font-weight: bold;
	}

.anywhere {
  font-size: 21px;
}

h3 {
  margin: 0;
  padding: 0;
}

.list {
  text-align: center;
  margin: 5%;
  padding-left: 20px;
  padding-right: 20px;
}

.interstateDesc {
  text-align: center;
}
/* again a lot of this is style stuff and padding stuff */

.north {
  animation: moveBottomToTop 4s linear infinite;
  text-align: center;
}
/* start of the animation, giving it a name. specified ".north" to clarify for ourselves that it is the css animation moving the images */

@keyframes moveBottomToTop {
  0% {
    transform: translateY(calc(-100% - 800px));
  }
  100% {
    transform: translateY(calc(100% - 80px)); /* adjustable */
  }
}
/* the translateY calc and subtracting pixels is just us editting the final and start position of the images to make it smoother and look cleaner */

.i5 {
  animation: moveLeftToRight 4s linear infinite;
}

@keyframes moveLeftToRight {
  0% {
    transform: translateX(calc(-100% - 800px));
  }
  100% {
    transform: translateX(calc(100% + 937px)); /* adjustable */
  }
}
/* same thing as before, just changed Y to x to make it move horizontally and added and subtracted values to adujust start and final positions */

.glow2 {
  font-size: 35px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
/* animation stuff as before. realizing now we made a glow2 just so "The Complete Guide" could be smaller */

.glow {
  font-size: 45px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
/* same thing for different class.... "Traffic in Los Angeles" portion of the titile */

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
/* glow animation that changed the color from ___ to ____, just a subtle change making it glow pink */

/* .red {
  background: linear-gradient(90deg, rgb(255, 87, 51), rgb(127, 0, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
/* realized we didn't need it so we're commenting it out */

.root {
  font-family: "IM Fell French Canon", serif;
  background-color: #f7e1f3;
}

* {
  margin: 0;
}
/* the entire website (*) */
body {
  display: grid;
  place-items: center;
  min-block-size: 100dvb;
}
/* style options */

.thoughts {
  font-size: clamp(3rem, 2rem + 10dvi, 16rem);
  font-weight: inherit;
  color: lightpink;
  text-shadow: 
    0 4em lightpink, 0 5em gold, 0 6em plum, 0 7em lightpink, 0 8em gold, 
}
/* styling of the text for our event listener, which will be clicked and changed to different text */

.nick {
  position: fixed;
  inset-block-end: 0;
  inset-inline-start: 50%;
  translate: 50% 0%;
  max-inline-size: 30%;
  filter: grayscale(1) brightness(1.75) contrast(0.8);
/*  giving him a black and wihte feel and setting the position he will take on the screen  */
}